@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  user-select: none;
}

[vw] {
  height: 75vh;
}

[vw-access-button] {
  bottom: 40px;
  right: 40px;
}

header > .navbar {
  width: 100vw;
  background-color: #890019;
  position: fixed;
  z-index: 2;
}

img {
  width: 160px;
}

.nav-item > a {
  font-family: "DM Sans", sans-serif;
  color: #ffde59;
  font-size: 16px;
  text-transform: uppercase;
}

.nav-item > a:hover {
  text-decoration: underline;
  color: #8a0721;
  transition: 1s ease;
  font-weight: bold;
}

#navbar {
  display: flex;
}

#hamburguer-img {
  display: none;
}

#menu-conteudo {
  background-color: #0c0b0bfb;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 40;
  display: none;
}

.logo-menu-hamburger {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 3px 40px 3px 12px;
  background-color: #5f0214;
}

.close {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

#close-img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.li-itens {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.li-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 140px;
  font-size: 28px;
  color: #ffde59;
  border-bottom: 1px solid #ffde598f;
  text-transform: uppercase;
}

#modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.808);
  z-index: 1040;
}

.carousel-item {
  height: 70vh;
}

.carousel-item > img {
  object-fit: cover;
}

.home {
  height: 100vh;
  padding-top: 76px;
  width: 100%;
}

.pratos-home {
  margin-top: 20px;
  margin-bottom: 200px;
}

.pratos-titulo {
  padding-top: 50px;
  margin-bottom: 50px;
  font-family: "DM Sans", sans-serif;
  color: #8a0721;
  text-transform: uppercase;
}

.home-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

div > .card {
  background-color: #ffde59a2;
}

div > .card > h3 {
  margin-top: 20px;
  color: #5e0214;
  text-align: center;
  font-family: "DM Sans", sans-serif;
}

div > h6 {
  text-align: center;
  font-family: "DM Sans", sans-serif;
}

.card {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  padding: 20px;
  transition: transform 0.2s ease-in-out;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.card:hover {
  transform: translateY(-10px);
}

#icon-whatssap > a > img {
  width: 60px;
}

#icon-whatssap {
  right: 10px;
  position: fixed;
  cursor: pointer;
  z-index: 10;
  bottom: 0;
  margin-bottom: 26px;
}

/* SOBRE NÓS */

.sobre-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 500px;
  background-color: #5e0214;
}

.sobre {
  height: 100vh;
  font-size: 20px;
  margin-bottom: 200px;
  color: #ffde59;
  text-align: center;
  margin-left: 8%;
  margin-right: 8%;
}

.sobre-img > img {
  width: 900px;
}

.sobre-img {
  display: flex;
  justify-content: center;
}

/* FOOTER */

.rodape {
  background-color: #f5ecda;
  color: #890019;
}

.colunas {
  display: flex;
}

.coluna {
  display: flexbox;
  flex-direction: column;
}

.titulo {
  margin: 50px 0px 0px 0px;
}

.distancia {
  margin: 0px 0px 0px 150px;
}

.final {
  font-size: 20px;
  font-family: "DM Sans", sans-serif;
}

.fim {
  display: flex;
  justify-content: center;
  background-color: #5f0214;
  color: yellow;
  font-family: "DM Sans", sans-serif;
}

/* FEEDBACK */

.avaliacao {
  display: flex;
  justify-content: center;
}

.pulo {
  margin-top: 100px;
}

.pulo2 {
  margin-bottom: 200px;
}

.avaliacao1 {
  height: 150px;
  width: 700px;
  display: flexbox;
  margin: 20px 50px;
  border: black 3px solid;
  border-radius: 10px;
  font-family: "DM Sans", sans-serif;
  background-color: grey;
}

.avaliacao2 {
  font-family: "DM Sans", sans-serif;
  height: 150px;
  width: 700px;
  display: flexbox;
  margin: 20px 50px;
  border: black 3px solid;
  border-radius: 10px;
  background-color: grey;
}

.pessoa {
  color: #ffde59;
  font-size: 20px;
}

.estrela {
  width: 4vw;
}

@media (max-width: 990px) {
  #navbar {
    display: none;
  }

  #hamburguer-img {
    display: block;
    width: 100%;
    height: 50px;
    padding-right: 20px;
    cursor: pointer;
  }
}

@media (max-width: 1024px) {
  .carousel-item {
    height: 40vh;
  }
}

@media (max-width: 768px) {
  .colunas {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .carousel-item {
    height: 30vh;
  }
}

@media (max-width: 675px) {
  .sobre-img > img {
    width: 500px;
  }
}

@media (max-width: 560px) {
  .card {
    width: 230px;
  }
}

@media (max-width: 500px) {
  .sobre-img > img {
    width: 420px;
  }

  .card {
    width: 300px;
  }

  .home {
    height: 160vh;
  }
}

@media (max-width: 415px) {
  .sobre-img > img {
    width: 380px;
  }
}

@media (max-width: 380px) {
  .sobre-img > img {
    width: 300px;
  }

  .li-item {
    height: 110px;
    font-size: 24px;
  }
}

/* cards -samuel */

.menu-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.option {
  background-color: rgba(0, 0, 0, 0.6);
  margin-bottom: 25vmax;
  background-size: cover;
  background-position: center;
  width: 20vmax;
  height: 27vmax;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.option:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .option {
    width: 90%;
    height: 70%;
    height: auto;
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .option {
    width: 100%;
    height: 70%;
    padding: 15px;
  }
}
