@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  user-select: none;
}

header > .navbar {
  width: 100vw;
  background-color: #890019;
  position: fixed;
  z-index: 2;
}

img {
  width: 160px;
}

.nav-item > a {
  font-family: "DM Sans", sans-serif;
  color: #ffde59;
  font-size: 16px;
  text-transform: uppercase;
}

.nav-item > a:hover {
  color: #f5ecda;
  text-decoration: underline;
  transition: 1s ease;
  font-weight: bold;
}

.navbar-nav .nav-link {
  color: #f5ecda;
}

.navbar-nav .nav-link:active,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:visited {
  color: #ffde59;
}

#navbar {
  display: flex;
}

#hamburguer-img {
  display: none;
}

#menu-conteudo {
  background-color: #0c0b0bfb;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 40;
  display: none;
}

.logo-menu-hamburger {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 3px 40px 3px 12px;
  background-color: #890019;
}

.close {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

#close-img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.li-itens {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.li-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 140px;
  font-size: 28px;
  color: #ffde59;
  border-bottom: 1px solid #ffde598f;
  text-transform: uppercase;
}

#modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.808);
  z-index: 1040;
}

.modal-header {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  color: #5e0214;
}

.modal.show .modal-dialog .modal-content {
  background-color: #faffb8f3;
  color: #5e0214;
}

.carousel-item {
  height: 70vh;
}

.carousel-item > img {
  object-fit: cover;
}

.home {
  height: 100vh;
  padding-top: 76px;
  width: 100%;
}

.pratos-home {
  margin-top: 20px;
  margin-bottom: 200px;
}

.pratos-titulo {
  margin-top: 40px;
  margin-bottom: 50px;
  font-family: "DM Sans", sans-serif;
  color: #8a0721;
  text-transform: uppercase;
}

.home-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

div > .card {
  background-color: #ffde5981;
}

div > .card > h3 {
  margin-top: 20px;
  color: #5e0214;
  text-align: center;
  font-family: "DM Sans", sans-serif;
}

div > h6 {
  text-align: center;
  font-family: "DM Sans", sans-serif;
}

.card {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  padding: 20px;
  transition: transform 0.2s ease-in-out;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.card:hover {
  transform: translateY(-10px);
}

#icon-whatssap > a > img {
  width: 60px;
}

#icon-whatssap {
  right: 10px;
  position: fixed;
  cursor: pointer;
  z-index: 10;
  bottom: 0;
  margin-bottom: 26px;
}

/* SOBRE NÓS */

.sobre-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 500px;
}

.sobre {
  height: 100vh;
  font-size: 20px;
  margin-bottom: 300px;
  text-align: center;
  margin-left: 8%;
  margin-right: 8%;
}

.sobre-img > img {
  width: 100%;
}

.sobre-img {
  display: flex;
  justify-content: center;
}

/* FOOTER */

.rodape {
  background-color: #f5ecda;
  width: 100%;
}

.colunas {
  display: flex;
  justify-content: space-around;
  font-family: "DM Sans", sans-serif;
  padding: 20px;
  width: 100%;
}

.coluna {
  max-width: 100%;
}

.coluna h4 {
  text-transform: uppercase;
  font-weight: bold;
}

.final {
  line-height: 0.5;
}

.detalhes-rodape {
  line-height: 0.5;
  margin-bottom: 60px;
}

.titulo-final {
  line-height: 0.5;
}

.mapa-rodape {
  width: 100%;
}

.info-rodape {
  background-color: #ffde59;
  text-align: center;
  padding: 5px;
}

.info-rodape p {
  color: #5e0214;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0;
}

.info-rodape h6 {
  color: #5e0214;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.small-box {
  background-color: #890019;
  color: #f5ecda;
  text-align: center;
  padding: 0 50px;
  display: flex;
  justify-content: space-around;
}

.small-box p {
  margin: 0;
}

.small-img img {
  width: 50px;
  margin-bottom: 5px;
}

/* FEEDBACK */

.feedback {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  flex-wrap: wrap;
  max-width: 100%;
}

.avaliacao1,
.avaliacao2,
.avaliacao3,
.avaliacao4 {
  font-family: "DM Sans", sans-serif;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.384);
  width: 250px;
  padding: 20px;
  margin: 10px;
  background-color: #5e0214;
  color: #f5ecda;
}

.pessoa {
  color: #f5ecda;
  font-size: 20px;
}

.estrela {
  width: 100px;
}

@media (max-width: 1327px) {
  .sobre-container {
    margin-top: 800px;
  }
}

@media (max-width: 990px) {
  #navbar {
    display: none;
  }

  #hamburguer-img {
    display: block;
    width: 100%;
    height: 50px;
    padding-right: 20px;
    cursor: pointer;
  }
}

@media (max-width: 1024px) {
  .carousel-item {
    height: 40vh;
  }
}

@media (max-width: 768px) {
  .colunas {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .carousel-item {
    height: 30vh;
  }
}

@media (max-width: 675px) {
  .sobre-img > img {
    width: 500px;
  }
}

@media (max-width: 560px) {
  .card {
    width: 230px;
  }
}

@media (max-width: 500px) {
  .sobre-container {
    margin-top: 1020px;
  }

  .sobre-img > img {
    width: 420px;
  }

  .card {
    width: 300px;
  }

  .home {
    height: 160vh;
  }

  .mapa-rodape iframe {
    width: 100%;
  }
}

@media (max-width: 415px) {
  .sobre-img > img {
    width: 380px;
  }
}

@media (max-width: 380px) {
  .sobre-container {
    margin-top: 1100px;
  }

  .sobre-img > img {
    width: 300px;
  }

  .li-item {
    height: 110px;
    font-size: 24px;
  }
}

/* Formulário "Fale Comigo" */

.formes {
  text-align: center;
}

form {
  width: 50%;
  text-align: center;
}

#fale {
  border: solid 3px black;
  margin: 20px auto;
  background-color:#f5ecda ;
  border-radius: 2rem;
}

.ficha {
  border: solid 3px #ffde59 ;
  background-color: #5e0214;
  border-radius: 10%;
  height: 5vh;
  width: 10vw;
}

.descricao {
  color:#5e0214 ;
  font-family: "DM Sans", sans-serif;
}

.enviar {
  color:#ffde59 ;
}

/* Estrelas */

/* cards -samuel */

.menu-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.option {
 /* background-image: url(./images/cards.salsa.png); */
 
 background-color: #ffde5981;
  margin-bottom: 25vmax;
  background-size: cover;
  background-position: center;
  width: 20vmax;
  height: 27vmax;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #890019;
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); */
  border: solid 0.4rem #890019;
  border-radius: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-family: "DM Sans", sans-serif;
  margin-top: 10vmax;
}
.option:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .option {
    width: 90%;
    height: 70%;
    height: auto;
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .option {
    width: 100%;
    height: 70%;
    padding: 15px;
  }
}
.btn1{
  /* margin-top: 200px; */
  border: solid 0.2rem #890019;
  border-radius: 0.6rem;
  background-color:rgba(0, 0, 0, 0.3);
  padding: 0.5rem;
}
.btn2{
  border: solid 0.2rem #890019 ;
  border-radius: 0.6rem;
  background-color:rgba(0, 0, 0, 0.3);
  padding: 0.5rem;
}
.btn3{
  border: solid 0.2rem #890019;
  border-radius: 0.6rem;
  background-color:rgba(0, 0, 0, 0.3);
  padding: 0.5rem;
  
}

.lit{
  color: white;
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  display: flex;
}



